
h2{
color: rgb(53, 100, 138);
font-size: 50px;                        
margin: 0px;
background-color: rgb(172, 166, 166);
text-align: center;
}
h3{
    text-align: center;
    border-image-width: 200px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
  }
  .text-center{
      text-align: center;
      font-size: 30px;
  }
  .history{
    /* align-content: center; */
    border-color: green;
    border-width: 10px;
    border-style: solid;
    width :85%;
    margin: auto;
    /* margin: auto; */


  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: black;
    width: 100%;
    transition: .50s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }